@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}
:root {
  --white: #ffffff;
  --white-dark1: #f8f8f8;
  --white-dark2: #eeeeee;
  --gray: #636060;
  --gray-dark1: #333333;
  --black: #222222;
  --green: #4CAF50;
  --green-dark1: #108B1C;
  --gold: #9d9171;
  --placeholder: #999999;
  --transition: all 0.3s ease-in-out;
}
html {
  scroll-behavior: smooth;
}
body {
  display: grid;
  grid-template-rows: auto 1fr;
  min-height: 100vh;
}
/* Turn off main scrollbar when cart is open 
body:has(.show) {
  overflow: hidden;
}*/
input[type="text"] {
  color: var(--black);
}
img :not([src$=".png"]){
  max-width: 100%;
  height: auto;
  display: block;
  content-visibility: auto;
  background-color: #e3e3e3;
}
::-webkit-scrollbar {
  width: 7px;
  height: 5px;
}
::-webkit-scrollbar-track {
  background: var(--white-dark2);
}
::-webkit-scrollbar-thumb {
  background: #b6b6b6;  
}
::-webkit-scrollbar-thumb:hover {
  background: #919191;
}
::placeholder {
  color: var(--placeholder);
}
span {
  color: var(--gray);
  font-size: 10px;
  font-weight: 600;
  padding: 10px 10px;
}
h2 {
  text-align: center;
  font-size: 28px;
  font-weight: 600;
  padding-bottom: 30px;
}
h4 {
  color: var(--green-dark1);
  font-size: 14px;
  padding: 10px 10px 20px 10px;
}
h5 {
  color: var(--color4);
  font-size: 12px;
  font-weight: 600;
  padding: 5px 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.normal {
  cursor: pointer;
  border: none;
  border-radius: 3px;
  padding: 4px 10px;
  transition: var(--transition);
  background: var(--white);
  color: var(--green-dark1);
  outline: 1px solid var(--green-dark1);
  box-shadow: 0px 1px 2px rgba(99, 99, 99, 0.2);
  font-size: 13px;
  width: 84px;
}
button {
  cursor: pointer;
  border: none;
  border-radius: 3px;
  padding: 3px 10px;
  transition: var(--transition);
}
.container {
  padding: 20px 40px;
}
.navbar li a:hover,
.navbar li a.active,
.cart-btn .far:hover,
.cart-btn .far.active,
.searchbar .search-big:hover,
footer a:hover {
  color: var(--green-dark1);
} 

/* Nav */
nav {
  background: var(--white-dark2);
  color: var(--white);
  padding: 10px 40px;
  box-shadow: 0 2px 10px rgb(99, 99, 99, 0.1);
  width: 100%;
  height: auto;
}
nav .container {
  display: grid;
  min-width: 100%;
  grid-template-columns: auto 5fr auto auto;
  align-items: center;
  justify-content: space-between;
  grid-gap: 30px;
  height: 10vh;
  padding: 0;
}
.navbar {
  display: grid;
  grid-template-columns: 80px 80px 80px 60px;
  list-style-type: none;
  grid-gap: 20px;
}
.navbar li, .navbar li a {
  list-style: none;
  text-decoration: none;
  color: var(--black);
  font-size: 17px;
  font-weight: 700;
  transition: var(--transition);
}
.navbar li:last-child {
  margin-right: 0;
}
.searchbar {
  display: flex;
  border-radius: 20px;
  align-items: center;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
}
.searchbar .search-big {
  color: var(--black);
  font-size: 24px;
  font-weight: 500;
  transition: var(--transition);
  padding: 13px 13px;
}
.search-box .row {
  width: 0;
  display: flex;
  align-items: center;
  transition: var(--transition);
  visibility: hidden;
  opacity: -1;
}
.search-box input {
  flex: 1;
  width: 0;
  height: 50px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 14px;
  color: var(--gray);
  transition: var(--transition);
  padding: 0 5px;
}
.searchbar.show-input .row {
  width: 300px;
  padding: 0 0 3px 10px;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  opacity: 1;
  visibility: visible;
}
.search-box button {
  border: 0;
  outline: 0;
  padding: 1px;
  margin-right: 10px;
  transition: none;
}
.search-box .search-small {
  width: 25px;
  color: var(--placeholder);
  font-size: 16px;
}
.search-box .result-box ul {
  background: var(--white-dark2);
  position: absolute;
  width: 300px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
  z-index: 999;
}
.search-box .result-box ul li {
  list-style: none;
  color: var(--black);
  padding: 10px 10px;
  cursor: pointer;
}
.search-box .result-box ul li:hover {
  background: rgba(216, 216, 216, 0.4);
}
.cart-btn {
  padding: 0;
  border: none;
  color: var(--white);
  position: relative;
  cursor: pointer;
  border-radius: 20px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
}
.cart-btn .far {
  color: var(--black);
  font-size: 26px;
  padding: 12px 13px;
  transition: var(--transition);
}
.cart-btn .cart-qty {
  position: absolute;
  font-size: 12px;
  font-weight: 400;
  top: 0;
  right: 7px;
  transform: translateY(27px);
  background: var(--green-dark1);
  padding: 1px 4px;
  border-radius: 9px;
  cursor: auto;
  display: none;
}
.cart-btn .cart-qty.visible {
  display: block;
}

/* Footer */
footer {
  background-color: var(--white-dark2);
}
footer .container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
  padding: 30px 10px;
}
footer .column {
  display: flex;
  flex-direction: column;
  margin: auto;
}
footer h4, footer a, footer .address p, footer i {
  color: var(--black);
  text-decoration: none;
  font-size: 16px;
  padding: 0;
  margin-top: 10px;
}
footer a {
  color: var(--gray);
}
footer>p {
  color: var(--gray);
  width: 100%;
  text-align: center;
  padding: 30px 0;
}

/* Products */
.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}
.products-showcase {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  padding: 10px 10px;
  position: relative;
  border-top: 2px solid var(--white-dark2);
  border-bottom: 2px solid var(--white-dark2);
}
.product {
  flex: 0 0 auto;
  max-width: 200px;
  text-align: start;
  box-shadow: 0px 2px 8px rgba(99, 99, 99, 0.2);
  border-radius: 5px;
  position: relative;
}
.product img {
  height: auto;
  width: 100%;
  aspect-ratio: 1/1;
  padding: 20px 10px;
  object-fit: contain;
  object-position: center;
  display: block;
}
.product button {
  position: absolute;
  bottom: 15px;
  transform: translateX(125%);
}
.product button:hover {
  background: var(--green-dark1);
  color: var(--white);
}

/* Cart */
.cart-overlay {
  position: fixed;
  inset: 0;
  opacity: 0;
  cursor: pointer;
  visibility: hidden;
  background: var(--gray);
  transition: var(--transition);
}
.cart-overlay.show {
  opacity: 0.4;
  visibility: visible;
}
.cart {
  position: fixed;
  inset-block: 0;
  right: 0;
  width: 100%;
  max-width: 420px;
  padding: 20px;
  display: grid;
  grid-template-rows: auto 1fr auto;
  transform: translateX(100%);
  transition: var(--transition);
  background: var(--white);
}
.cart span {
  color: unset;
  font-size: unset;
  font-weight: unset;
  padding: 0;
}
.cart.show {
  transform: none;
}
.cart-header {
  position: relative;
  text-align: center;
  border-bottom: 1px solid #ddd;
  padding-block: 10px;
}
.cart-close {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.5rem;
  cursor: pointer;
}
.cart-body {
  display: grid;
  gap: 20px;
  align-content: start;
  padding-block: 20px;
  overflow: auto;
}
.cart-empty {
  text-align: center;
  padding-block: 20px;
  font-size: 1.25rem;
  color: var(--gray);
}
.cart-body:has(.cart-empty) + .cart-footer {
  display: none;
}
.cart-item {
  display: flex;
  gap: 10px;
}
.cart-item img {
  width: 100px;
  height: 100px;
  object-fit: contain;
}
.cart-item-detail {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.cart-item-detail h3 {
  font-size: 1rem;
  color: var(--gold);
}
.cart-item-detail h6 {
  color: var(--black);
}
.cart-item-amount {
  margin-top: auto;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1.25rem;
}
.cart-item-amount .far {
  opacity: 0.25;
  cursor: pointer;
}
.cart-item-amount .far:hover {
  opacity: 1;
}
.cart-item-amount .qty {
  width: 2rem;
  text-align: center;
}
.cart-item-price {
  margin-left: auto;
}
.cart-footer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  border-top: 1px solid #ddd;
  padding-block: 10px;
}
.cart-footer div {
  grid-column: 1 / -1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.25rem;
}
.cart-footer strong {
  font-weight: 500;
  color: var(--gold);
}
.cart-footer button {
  padding-block: 10px;
  text-transform: uppercase;
}
.cart-clear {
  background: var(--gray);
  color: var(--white);
}
.checkout {
  background: var(--green-dark1);
  color: var(--white);
}
.cart-clear:hover, .checkout:hover {
  filter:brightness(1.3);
}

/* Home Page */
.feature {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
  padding: 20px 40px;
  gap: 30px;
}
.feature .fe-box {
  text-align: center;
  box-shadow: 0px 2px 8px rgba(99, 99, 99, 0.2);
  border-radius: 5px;
}
.feature .fe-box:hover {
  box-shadow: 5px 5px 30px rgb(0, 0, 0, 0.15);
}
.feature .fe-box img {
  width: 100%;
  padding: 40px 10px;
}
.feature .fe-box h6 {
  font-size: 14px;
  font-weight: 900;
  display: inline-block;
  padding: 5px 40px;
  border-radius: 10px;
  margin-bottom: 20px;
  color: var(--black);
  background-color: var(--background-color);
}
.banner2, .banner3 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
  gap: 20px;
  flex-wrap: wrap;
  padding: 10px 40px;
}
.banner3 {
  padding-bottom: 20px;
}
.banner-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-image: var(--background-image);
  height: 50vh;
  background-size: cover;
  background-position: center;
  padding: 30px;
}
.banner2 .banner-box:hover button {
  background-color: var(--green);
}

/* Shop Page */
#pagination {
  text-align: center;
  margin-bottom: 20px;
}
#pagination a {
  text-decoration: none;
  box-shadow: -3px -3px 7px var(--white-dark1), 1px 1px 5px rgba(94, 104, 121, 0.288);
  padding: 6px 10px;
  border-radius: 4px;
  color: var(--black);
  font-size: 13px;
}
#pagination a i {
  font-size: 15px;
  font-weight: bold;
}
#pagination a:hover {
  box-shadow: inset -3px -3px 7px var(--white-dark1), inset 1px 1px 5px rgba(94, 104, 121, 0.288);
}

/* Single Product Page*/
#prodetails {
  display: flex;
  margin-top: 20px;
}
#prodetails .single-pro-image{
  width: 60%;
  margin-right: 50px;
}
.small-img-group {
  display: flex;
  justify-content: space-between;
}
.small-img-col {
  flex-basis: 24%;
  cursor: pointer;
}
#prodetails img{
  outline:auto;
  outline-color: var(--gray);
}
#prodetails .single-pro-details {
  width: 50%;
}
#prodetails .single-pro-details h4 {
  padding: 30px 0 20px 0;
}
#prodetails .single-pro-details h2 {
  font-size: 26px;
}
#prodetails .single-pro-details select {
  display: inline-block;
  padding: 5px 10px;
}
#prodetails .single-pro-details select:focus {
  outline: none;
}
#prodetails .single-pro-details input {
  width: 50px;
  height: 47px;
  padding-left: 10px;
  font-size: 16px;
  margin-right: 10px;
}
#prodetails .single-pro-details .volume-select {
  font-size: 12px;
}
#prodetails .single-pro-details .input-num {
  width: 9%;
  height: 28px;
  font-size: 14px;
}
#prodetails .single-pro-details input:focus {
  outline: none;
}
#prodetails .single-pro-details button {
  background-color: var(--green);
}
#prodetails .single-pro-details span{
  line-height: 25px;
}

/* Contact Page*/
#contact-details {
  display: grid;
  grid-template-columns: 50% auto;
  gap: 10px;
  padding: 20px 90px;
}
#contact-details .details span, #form-details form span {
  font-size: 12px;
  padding: 0;
}
#contact-details .details h2, #form-details form h2 {
  font-size: 26px;
  line-height: 25px;
  padding: 20px 0;
  text-align: left;
  width: 500px;
}
#contact-details .details h3, #form-details .people div span {
  font-size: 16px;
}
#contact-details .details div {
  padding-top: 20px;
}
#contact-details .details li, .details li i, .contact p {
  list-style: none;
  display: flex;
  padding: 5px 0;
  font-size: 14px;
  padding-right: 22px;
}
#contact-details iframe {
  width: 100%;
  height: 100%;
}
#form-details {
  display: grid;
  grid-template-columns: 50% auto;
  margin: 20px 200px;
  padding: 40px 40px;
  border: 1px solid var(--white-dark2);
  gap: 30px;
}
#form-details form input, #form-details form textarea, #form-details .people div {
  width: 100%;
  padding: 12px 15px;
  margin: 10px 0;
  border: 1px solid var(--white-dark2);
  border-radius: 3px;
  outline: none;
  display: flex;
}
#form-details .people div img {
  width: 10%;
  object-fit: cover;
  margin-right: 10px;
}
#form-details .people div p {
  display: grid;
  grid-template-columns: 140px auto;
  font-size: 14px;
  line-height: 25px;
  white-space: nowrap;
  align-items: center;
}

/* Account Page */
.image {
  background: url("./img/account.jpg");
  width: 100%;
  background-size: cover;
  background-position: 0%;
  padding: 55px 0;
  margin-top: 0;
}
.account {
  margin: auto;
	width: 350px;
	height: 500px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 5px 30px var(--black);
  background-color: rgba(0, 0, 0, 0.3);
}
.account .far {
  font-size: 50px;
  color: var(--white);
	justify-content: center;
	display: flex;
  padding: 90px 0 30px 0;
	font-weight: bold;
}
.account .signin {
	height: 100%;
}
.account .signup label{
	font-size: 70px;
	justify-content: center;
	display: flex;
	margin-top: 170px;
	cursor: pointer;
	transition: var(--transition);
	color: var(--gold);
	transform: scale(.3);
}
.account .fas {
  position: relative;
  margin: -20px 0;
}
.account input {
	width: 60%;
	height: 20px;
	background: var(--white);
	justify-content: center;
	display: flex;
	margin: 20px auto;
	padding: 15px;
	border: none;
	outline: none;
	border-radius: 5px;
}
.account button {
	width: 60%;
	height: 40px;
	margin: 10px auto;  
	justify-content: center;
	display: block;
	color: var(--white);
  border: none;
  outline: none;
	background: var(--gold);
	font-size: 1em;
	font-weight: bold;
	border-radius: 5px;
	transition: var(--transition);
	cursor: pointer;
}
.account button:hover{
	background: var(--green-dark1);
}
.account .signup{
	height: 410px;
	background: var(--white-dark2);
	border-radius: 50% / 4%;
	transform: translateY(-200px);
	transition: .8s ease-in-out;
}
.account #switch {
  display: none;
}
.account #switch:checked ~ .signup{
	transform: translateY(-510px);
}
.account #switch:checked ~ .signup label{
	transform: scale(.5);
  padding: 10px;
}

/* Start Media Query */
@media (max-width: 799px) { /* Tablet */
  .section-p1 {
    padding: 20px 40px;
  }
  h2 {
    font-size: 35px;
  }
  #navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    right: -300px;
    height: 100vh;
    width: 300px;
    background-color: var(--white);
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
    padding: 80px 0 0 10px;
    transition: 0.3s;
  }
  #navbar.active {
    right: -100px;
  }
  #navbar li {
    margin-bottom: 25px;
  }
  #close {
    display: initial;
    position: absolute;
    top: 30px;
    left: 30px;
    color: var(--black);
    font-size: 24px;
  }
  #lg-bag {
    display: none;
  }
  #hero {
    height: 51vh;
    padding: 0 80px;
    background-position: top 30% right 30%;
  }
  .feature {
    justify-content: center;
  }
  .feature .fe-box {
    margin: 7px 15px;
  }
  #product1 .items-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 15px;
  }
  #product1 .item {
    width: auto;
    min-width: 0;
    max-width: 100%;
    margin: 5px;
  }
  #prodetails .single-pro-image {
    width: 40%;
    margin-right: 20px;
  }
  .banner2 .banner-box {
    min-width: 100%;
    height: 30vh;
    margin-bottom: 15px;
  }
  .banner2 .banner-box2 {
    margin-bottom: -40px;
  }
  .banner3 {
    padding: 30px 40px 0 40px;
  }
  .banner3 .banner-box {
    width: 32%;
  }
  /* Contact Page */
  #form-details {
    padding: 50px;
    margin: 0 40px 20px 40px;
  }
  #form-details form {
    width: 90%;
  }
  #form-details .people {
    width: 60%;
  }
  #form-details .people div p {
    line-height: 20px;
  }
  /* Cart Page */
  #cart-add {
    margin-top: 10px;
  }
}
@media (max-width: 477px) { /* Phone */
  .section-p1 {
    padding: 20px;
  }
  #logo {
    width: 100px;
  }
  #nav {
    padding: 10px 30px;
  }
  h1 {
    font-size: 38px;
  }
  h2 {
    font-size: 24px;
  }
  p {
    font-size: 12px;
  }
  #hero {
    padding: 0 20px;
    background-position: 75%;
    height: 65vh;
  }
  .feature {
    justify-content: space-between;
  }
  .feature .fe-box {
    width: 155px;
    margin: 0 0 15px 0;
  }
  #product1 .items-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 10px;
  }
  #product1 .item {
    width: auto;
    min-width: 0;
    max-width: 100%;
    margin: 5px;
  }
  #product1 .item .des h4 {
    font-size: 12px;
  }
  #product1 .item .des h5 {
    font-size: 12px;
  }
  .banner2 .banner-box {
    height: 40vh;
  }
  .banner2 .banner-box2 {
    margin-bottom: -20px;
  }
  .banner3 {
    padding: 0 20px;
  }
  .banner3 .banner-box {
    width: 100%;
  }
  footer .col {
    margin: 0 20px 20px 20px;
  }
  footer .copyright {
    text-align: start;
  }
  /* Single Product */
  #prodetails {
    display: flex;
    flex-direction: column;
  }
  #prodetails .single-pro-image {
    width: 100%;
    margin-right: 0px;
    margin-bottom: 15px;
  }
  #prodetails .single-pro-details {
    width: 100%;
  }
  #prodetails .single-pro-details h2 {
    font-size: 20px;
  }
  #prodetails .single-pro-details h4 {
    padding: 15px 0 10px 0;
  }
  /* Cart Page */
  #cart-add {
    flex-direction: column;
  }
  #coupon {
    margin-bottom: 20px;
    width: 100%;
  }
  #subtotal {
    width: 100%;
    padding: 20px;
  }
  /* Contact Page */
  #contact-details {
    flex-direction: column;
  }
  #contact-details .details {
    width: 100%;
    margin-bottom: 30px;
  }
  #contact-details .map {
    width: 100%;
  }
  #form-details {
    margin: 10px;
    padding: 30px 10px;
    flex-wrap: wrap;
  }
  #form-details form {
    width: 100%;
    margin-bottom: 30px;
  }
  #contact-details .details h2,
  #form-details form h2 {
    font-size: 16px;
  }
  #form-details .people div p {
    font-size: 17px;
    line-height: 25px;
  }
  #form-details .people div {
    padding-bottom: 0;
    margin: 10px;
  }
}
